body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/background.gif') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    position: absolute;
    top: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section {
    width: 30%;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

section a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 150px;
}

section a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#grafico-container {
    margin-top: 2rem;
    width: 80%;
    max-width: 800px;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
}

.volver-inicio {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.volver-inicio:hover {
    background-color: #0056b3;
}

