<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de Crecimiento</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <style>
            h1 {
                font-family: "Georgia", serif;
                font-size: 48px;
            }
        </style>        
        <center>
            <h1>VITALYTIC</h1>
        </center>
    </header>
    <main>
        <section id="crecimiento_natural">
            <a href="/crecimiento"> <!-- Ruta Flask para Crecimiento Natural -->
                <center>
                    <h2>Crecimiento Natural</h2>
                    <p>Muestra las diferencias entre la natalidad y la mortalidad.</p>
                </center>
            </a>
        </section>
        <section id="mortalidad">
            <a href="/mortalidad"> <!-- Ruta Flask para Mortalidad -->
                <center>
                    <h2>Mortalidad</h2>
                    <p>Descubre las tendencias de mortalidad global.</p>
                </center>
            </a>
        </section>
        <section id="natalidad">
            <a href="/natalidad"> <!-- Ruta Flask para Natalidad -->
                <center>
                    <h2>Natalidad</h2>
                    <p>Consulta informacion sobre la natalidad global con el paso de los años.</p>
                </center>
            </a>
        </section>
    </main>
</body>
</html>
