<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de Crecimiento</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <center>
            <h1>Proyecciones a Nivel Mundial</h1>
        </center>
    </header>
    <main>
        <section id="crecimiento_natural">
            <a href="/crecimiento"> <!-- Ruta Flask para Crecimiento Natural -->
                <center>
                    <h2>Crecimiento Natural</h2>
                    <p>Explora los datos de crecimiento natural a lo largo del tiempo.</p>
                </center>
            </a>
        </section>
        <section id="mortalidad">
            <a href="/mortalidad"> <!-- Ruta Flask para Mortalidad -->
                <center>
                    <h2>Mortalidad</h2>
                    <p>Descubre las tendencias de mortalidad global.</p>
                </center>
            </a>
        </section>
        <section id="natalidad">
            <a href="/natalidad"> <!-- Ruta Flask para Natalidad -->
                <center>
                    <h2>Natalidad</h2>
                    <p>Consulta información sobre las tasas de natalidad.</p>
                </center>
            </a>
        </section>
    </main>
</body>
</html>
